.heading {
    display: grid;
    text-align: center;
    justify-content: center;
    width: 600px;
    margin-left:100px;

}

th,
td {
    border: 1px solid black;
    padding: 4px;
}

th {
    text-align: left;
}

table {
    border-collapse: collapse;
    width:210px;
    font-size:11px;
    margin-left: 50px;

}

.signature {
    margin-left: 630px;
}


